


.mainContainer{
    display: flex;
    flex-direction: column;

    height: auto;
    width: 17vw;
    padding: 1rem;
    border-radius: 10px;

    color: black;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;

}




.eduHeaderContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
       
}


.AddButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;


    height: 20px;
    width: 80px;
    background-color: rgb(222, 222, 222);
    color: black;  

}







/* ================================== Education FORM =================================== */

.eduFormsectionWrapper{
    display: flex;
    flex-direction: column;

    width: 15vw;
    padding: 1rem;
    border-radius: 10px;

    color: black;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;

    border: 1px solid red;  
}



.eduFormHeaderContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
      
}

.eduForm.collapsed{
    display: none
}


.eduAddBtnContainer.collapsed{
    display: none
}