#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.mainWrapper{
  display: flex;
  gap: 20px;

}

.DisplayWrapper{
  display: flex;
  flex-direction: column;
  height: 140vh;
  width: 300vw;

  overflow: hidden;

  padding: 60px;
  background-color: white;

}

.nameContainer{
  display: block;
  text-align: left;


}

.profileContainer{
  display: flex;
  gap: 10px;
  /* border: 1px, solid red; */
}


.SummaryContainer{
  display: block;
  text-align: left;

}

.seperator{
  border: 1px, solid black;
  margin-bottom: 10px;
}


.companyDateContainer{
  display: flex;
  justify-content: space-between;
  font-weight: bold;


}

.dateContainer{
  display: flex;
  gap: 5px;
  
}

.positionLocationContainer{
  display: flex;
  justify-content: space-between;
  font-style: italic;

}

.descriptionContainer{
  display: flex;
  
}

.schoolDegreeSection{
  display: flex;
  gap: 5px;
  
}

.eduContentContainer{
  display: flex;
  justify-content: space-between;
  
}

.eduDateContainer{
  display: flex;
  font-weight: bold;

}



.certContainer{
  display: flex;
  gap: 5px;
  
}

.languageContainer{
  display: flex;
  gap: 5px;
  
}